html, body, h1, h2, canvas, footer, header, p, section, ul, li{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #18121E;
	font-family:  "Lucida Console", Monaco, monospace;
	font-size: 15px;
	height: 100%;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}


/*Header and Navigation */

header{
	background-color: #223237;
	color: #EAC67A;
	min-height: 50px;
	border-bottom:#984B43  4px solid;


}
header a{
	color: #EAC67A;
	text-decoration: none;
	text-transform: uppercase;
}
header li{
	display: inline;
	float: left;
	padding: 0 20px 0 20px;
}

header #logo{
	float: left;
}
header h1{
	padding-top:4px;
	padding-left:10px;
	padding-right: 10px;
	border-bottom: 1px solid #984B43;
}
header p{
	padding-top:4px;
	padding-bottom:0;
	padding-left:10px;
	padding-right: 10px;
}

header nav{
	margin-top: 25px;
	float: right;
}

header .current{
	color: #984B43;
	font-weight: bold;
}

header a:hover{
	color: #ffffff;
	font-weight: bold;
}

/* Canvas */

#gameSection {
	min-height: 480px;
	background-color: #18121E;
	margin: 0;
	padding: 0;
}
#gameSection canvas{
	display: block;
	margin: auto;
	margin-top: 10px;
	top: 0; left: 0; bottom: 0; right: 0;
}

footer{
	position:absolute;
	width: 100%;
	background-color: #223237;
	color: #EAC67A;
	border-top: 4px solid #984B43;
	min-height: 35px;
	bottom: 0;
}

footer p{
	opacity:1;
	text-align: center;
	padding-top:10px;
}
